/*==================== NAV ====================*/
.nav_logo{
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 0px;
}
.logo h3{
  width: 90%;
  margin: 0px 120px;
  background: rgb(213, 218, 218);
}
.logo p{
  margin: 10px 120px;
  background: rgb(212, 216, 216);
}
.navbar ul{
  list-style: none;
  padding: 0px;
  margin: 0px ;
  text-align: right;
  background: rgb(176, 231, 215);
}
.navbar div{
  padding: 0px 0px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(7, 7, 7);
}
.navbar li{
  display: inline-block;
}
.navbar li a{
  text-decoration: none;
  color: rgb(10, 10, 10);
  width: 150px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  font-weight: bold;
  text-align: center;
}
/*==================== HOME ====================*/
.content{
  background: rgb(236, 235, 235);
  margin-top: 50px;
  height: 350px;
}
.content h1{
  margin: 0px 300px;
  background: rgb(209, 208, 208);
  width: 70%;
  height: 50px;
}
.content p{
  font-size: 17px;
  margin: 0px 350px;
}
.address h2{
  margin: 30px 350px;
}
.address p{
  font-size: 20px;
}
.t1{
  position: absolute;
  border-left: 1px solid rgb(87, 85, 85);
  height: 265px;
  margin: 0px 300px;
  margin-top: 3px;
}
.link p{
  font-size: 17px;
  margin-top: 30px;
}
.home_logo{
  position: absolute;
  border-radius: 50%;
  height: 158px;
  width: 154px;
  margin: 50px 60px;
}