 /*==================== NAV ====================*/
 .nav_logo{
  position:absolute;
  height: 112px;
  width: 112px;
}
.logo h3{
  text-align:inherit;
margin: 0px 120px;
}
.logo p{
  text-align: center;
margin: 30px 120px;
}
.navbar ul{
height: 138px;
list-style: none;
padding: 0px;
margin: 0px;
text-align: right;
background: rgb(153, 209, 202);
}
.navbar div{
padding: 22px 20px;
height: 80px;
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
color: rgb(7, 7, 7);
}
.navbar li{
display:inline-block;
}
.navbar li a{
text-decoration: none;
color: rgb(10, 10, 10);
width: 150px;
display: block;
padding: 25px 20px;
font-size: 15px;
text-transform: uppercase;
transition: 0.4s ease-in-out;
font-weight: bold;
text-align: center;
}





.home_logo{
margin-top: var(--mb-3);
border-radius: 50%;
}
.home{
background-color: rgb(11, 73, 91);
}
.content{
position: relative;
width: 1350px;
height: auto;
margin: 1% 0%;
}
.content li{
padding: 70px 30px;
margin:20px auto;
color: rgb(55, 138, 153);
font-size: x-large;
font-family: sans-serif;
}
.content li{
display:inline-block;
}
.content ul{
list-style: none;
background: rgb(229, 231, 235);
padding: 0;
margin: 0;
text-align: center;
}
.t{
position: absolute;
border-left: 2px solid black;
height: 130px;
margin: 70px 270px;
}
.t1{
position: absolute;
border-left: 2px solid black;
height: 130px;
margin: 70px 490px;
}
.t2{
position: absolute;
border-left: 2px solid black;
height: 130px;
margin: 70px 730px;
}
.t3{
position: absolute;
border-left: 2px solid black;
height: 130px;
margin: 70px 1075px;
}
.content1{
  text-align: center;

}
 